fastapi==0.104.1
uvicorn[standard]==0.24.0

# Embeddings are precomputed and loaded from disk on Render
# sentence-transformers
# torch
# torchvision

faiss-cpu==1.13.1
beautifulsoup4==4.12.2
requests==2.31.0